<head>
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://bootswatch.com/4/superhero/bootstrap.min.css">
  <!-- CSS Layout -->
  <link rel="stylesheet" href="/css/sticky-footer-navbar.css" >
  <link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/layout.css">
  
</head>