<!DOCTYPE html>
<%- include ./partials/head %>
<body>
  <%- include ./partials/navbar %>
  <div id="signupForm" class="container mt-4">
    <form class="form-horizontal" class="ml-auto mr-auto">
      <fieldset>
        <legend class="text-center">Log in</legend>
        <div class="form-group">
          <label for="inputEmail" class="control-label">Email</label>
          <div class="col-auto">
            <input type="text" class="form-control" id="inputEmail" placeholder="Email">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">Password</label>
          <div class="col-auto">
            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
          </div>
        </div>
        <div class="form-group">
          <div class="col-auto">
            <button type="submit" class="btn btn-primary">Log In</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <%- include ./partials/footer %>
  <!--Script -->
  <%- include ./partials/script %>
</body>