<DOCTYPE html>
  <%- include ./partials/head %>
  <body>
    <%- include ./partials/navbar %>
    <div class="jumbotron">
      <div class="container text-center">
          <h1 class="display-3">Welcome to Book Trading Club</h1>
          <p>This is a fullstack application that you can search the book you want and made a book trading request with other peers</p>
          <p><a class="btn btn-primary btn-lg" href="/search">Search for Books</a></p>
      </div>
      
    </div>
    
    <br>
    <!-- Footer -->
    <%- include ./partials/footer %>
    
    <!--Script -->
    <%- include ./partials/script %>
  </body>
</DOCTYPE>