<!DOCTYPE html>
<%- include ./partials/head %>
<body>
  <% include ./partials/navbar %>
  <div class="container">
    <ul>
      <% books.forEach(function(book){ %>
        <li><%= book %></li>
      <% }) %>
    </ul>
  </div>
  <%- include ./partials/footer %>
  <%- include ./partials/script %>

</body>