<!DOCTYPE html>
<%- include ./partials/head %>
<body style="background-color: #fff;">
  <%- include ./partials/navbar %>
  <div class="container" style="color:black;">
      This is trading list
  </div>
  <!-- Footer -->
  <%- include ./partials/footer %>
  
  <!--Script -->
  <%- include ./partials/script %>
</body>