.card-header{
  height: 100px;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
  background-image: url('/img/jumbotron_bg_1.jpg');
  background-size: cover;
  background-position: 0% 55%;
}

